HTML CSS JSResult Skip Results Iframe
body {
  width: 100%;
  height: 100vh;
  background: #e9e8f5;
  font-family: Pragmatica;
  color: #555;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  padding: 30px 100px;
}

body * {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  color: #6a6a6a;
  margin: 0 0 10px;
  text-shadow: 2px 2px 1px #fff;
}

.displayNone {
  display: none !important;
}

.flexRow {
  display: flex;
  flex-flow: row wrap;
}

.flexColumn {
  display: flex;
  flex-flow: column nowrap;
}

.flexCenter {
  justify-content: center;
  align-items: center;
}

.noWrap {
  flex-wrap: nowrap;
}

.fieldContainer {
  margin: 0 0 80px;
}

.radio,
.radio label,
.toggle,
.toggle label,
.option, .option label {
  cursor: pointer;
}

.radio,
.toggle,
.option {
  width: 350px;
  height: 60px;
  background: radial-gradient(ellipse at top left, #e4e3f1, #e9e8f5 80%);
  align-items: center;
  padding: 20px;
  margin: 10px 14px;
  border-radius: 30px;
  box-shadow: 
    14px 14px 15px rgba(0, 0, 0, 0.08),
    3px 3px 5px rgba(0, 0, 0, 0.1),
    -3px -3px 5px rgba(255, 255, 255, .4),
    -12px -12px 15px rgba(255, 255, 255, .6),
    inset 3px 3px 6px rgba(0, 0, 0, 0),
    inset -3px -3px 6px rgba(255, 255, 255, 0);
  transition: all 250ms;
  user-select: none;
}

.radio.active,
.toggle.active {
  background: radial-gradient(ellipse at top left, #e1e0ec, #e9e8f5 80%) !important;
  box-shadow:
    3px 3px 5px rgba(0, 0, 0, 0),
    3px 3px 4px rgba(0, 0, 0, 0.05),
    -2px -2px 4px rgba(255, 255, 255, .3),
    -2px -2px 4px rgba(255, 255, 255, 0),
    inset 4px 4px 5px rgba(0, 0, 0, 0.1),
    inset -3px -3px 4px rgba(255, 255, 255, 0.3) !important;
}

.radio:hover, .option:hover {
  box-shadow: 
    3px 3px 4px rgba(0, 0, 0, 0.06),
    3px 3px 4px rgba(0, 0, 0, 0.05),
    -2px -2px 2px rgba(255, 255, 255, .3),
    -2px -2px 10px rgba(255, 255, 255, .7),
    inset 3px 3px 6px rgba(0, 0, 0, 0),
    inset -3px -3px 6px rgba(255, 255, 255, 0);
}

.radio:first-child,
.toggle:first-child {
  margin-left: 0;
}

.radio input[type="radio"] {
  display: none;
}

.disc {
  width: 18px;
  height: 18px;
  background: inherit;
  margin: 0 20px 0 0;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3),
    -1px -1px 3px rgba(255, 255, 255, 1);
  transform: translateZ(0);
  transition: all 500ms;
}

.radio .disc::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #c52565;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 400ms cubic-bezier(0.1, 0.8, 0.3, 1.2),
    opacity 200ms cubic-bezier(0.9, 0, 0.6, 1);
  opacity: 0;
}

.radio.active .disc {
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3),
    inset -1px -1px 3px rgba(255, 174, 187, 1);
}

.radio.active .disc::before {
  transform: scale(1);
  opacity: 1;
}

.field label {
  font-weight: 700;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.radio label span {
  color: #888;
  font-weight: 400;
}

.toggle {
  height: 60px;
  align-items: center;
}

.toggle .disc {
  width: 22px;
  height: 22px;
}

.toggle .disc,
.toggle .disc::before {
  border-radius: 3px;
}

.toggleCheck {
  fill: none;
  stroke: #c52565;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
  stroke-dasharray: 18 19;
  stroke-dashoffset: 18;
  transform: scale(0) translate(-200.879px, -621.445px);
  transform-origin: center;
  transition: stroke-dashoffset 200ms cubic-bezier(0.9, 0, 0.6, 1),
    transform 300ms cubic-bezier(0.5, 0.8, 0.3, 1.6);
}

.toggle.active .toggleCheck {
  stroke-dashoffset: 0;
  transform: scale(1) translate(-200.879px, -621.445px);
}

.switch {
  width: 100px;
  height: 60px;
  transform: translateZ(0);
  cursor: pointer;
}

.switchTrack {
  width: 100%;
  height: 45px;
  background: inherit;
  position: absolute;
  left: 0;
  border-radius: 25px;
  box-shadow:
    3px 3px 5px rgba(0, 0, 0, .065),
    0px 15px 10px rgba(0, 0, 0, 0),
    -2px -2px 4px rgba(255, 255, 255, 1),
    inset 3px 3px 6px rgba(0, 0, 0, 0.1),
    inset -3px -3px 6px rgba(255, 255, 255, 1);
  transition: all 400ms;
  transform: translateZ(0);
  overflow: hidden;
}

.switchTrack::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #b1ddef, #4ea9cc);
  background-clip: content-box;
  position: absolute;
  top: 0;
  left: -100%;
  border-radius: 0;
  transform-origin: left center;
  transition: all 400ms;
  box-shadow:
    3px 3px 5px rgba(0, 0, 0, 0.1),
    -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 3px 3px 4px rgba(0, 0, 0, 0.1),
    inset -3px -3px 4px rgba(255, 255, 255, 0.3);
}

.switch.active .switchTrack {
  box-shadow:
    3px 3px 5px rgba(0, 0, 0, 0.065),
    0px 10px 15px rgba(143, 219, 255, 0.68),
    -2px -2px 4px rgba(255, 255, 255, 1),
    inset 3px 3px 6px rgba(0, 0, 0, 0),
    inset -3px -3px 6px rgba(255, 255, 255, 0);
}

.switch.active .switchTrack::before {
  left: 0;
  border-radius: inherit;
}

.switch .disc {
  width: 30px;
  height: 30px;
  background: linear-gradient(150deg, #e1e6ea 0%, #ffffff 100%);
  position: absolute;
  left: 8px;
  z-index: 1;
  transition: all 400ms;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1),
    -2px -2px 4px rgba(255, 255, 255, 1);
  transform: translateZ( 0 );
}

.disc::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(-30deg, #fff 30%, #c3c9d0);
  border-radius: 50%;
  opacity: 0;
}

.disc:active {
  background: linear-gradient(150deg, #d5d5d5 0%, #eee 60%);
}

.switch.active .disc {
  left: 60px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1),
    -2px -2px 4px rgba(255, 255, 255, 0.3);
}

.switch label {
  font-weight: 700;
  font-size: 20px;
  color: #999;
  transition: color 400ms, left 400ms;
  position: relative;
  top: 50px;
  cursor: pointer;
  display: none;
}

.option {
  align-items: center;
  border-radius: 30px 30px 30px 30px;
  transform: translateZ( 0 );
  transition: all 200ms;
  padding: 0 35px;
}

.option.active {
  border-radius: 15px 15px 0 0;
}

.option label {
  font-size: 14px;
  color: #999;
  position: absolute;
  top: 12px;
}

.option input[ type='text' ] {
  background: none;
  font-weight: 700;
  font-size: 18px;
  color: #555;
  border: none;
  outline: none;
  position: absolute;
  bottom: 10px;
}

.option .arrow {
  width: 0;
  height: 0;
  position: absolute;
  right: 26px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #999;
}

.optionList {
  width: 100%;
  max-height: 300px;
  background: #e9e8f5;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 0 0 10px 10px;
  overflow-y: auto;
  box-shadow: 3px 3px 10px rgba( 0, 0, 0, .1 ), -2px -2px 4px rgba(255, 255, 255, 0),
    inset 2px 2px 5px rgba(0, 0, 0, 0.08),
    inset -2px -2px 3px rgba(255, 255, 255, 0.6);
  transition: all 200ms;
  display: none;
  z-index: 99999;
}

.option.active .optionList {
  display: block;
}

.optionItem {
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
  position: relative;
  z-index: 99999;
  transition: all 300ms;
}

.optionItem:hover {
  background: #e1e1e1;
}

